/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}



/*.heroBanner {*/
/*  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);*/
/*}*/

/*[data-theme='dark'] .heroBanner {*/
/*  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
/*}*/

/*https://pxlab.cn/color/index.html*/

/* 周天 */
.heroBannerBg0 {
  /* 成熟的女性 */
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
[data-theme='dark'] .heroBannerBg0 {
  /* 床上的激情 */
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
/* 周一 */
.heroBannerBg1 {
  /* 温暖的火焰 */
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
[data-theme='dark'] .heroBannerBg1 {
  /* 年轻的激情 */
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

}
/* 周二 */
.heroBannerBg2 {
  /* 很多的希望 */
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);

}
[data-theme='dark'] .heroBannerBg2 {
  /* 强烈的幸福来袭 */
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);

}
/* 周三 */
.heroBannerBg3 {
  /* 爱的吻 */
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

}
[data-theme='dark'] .heroBannerBg3 {
  /* 热情爱爱 */
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

}
/* 周四 */
.heroBannerBg4 {
  /* 温柔的呵护 */
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);

}
[data-theme='dark'] .heroBannerBg4 {
  /* 关怀与少女 */
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
/* 周五 */
.heroBannerBg5 {
  /* 五颜六色的桃子 */
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);

}
[data-theme='dark'] .heroBannerBg5 {
  /* 天使降临 */
  background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
/* 周六 */
.heroBannerBg6 {
  /* 皇家园林 */
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
[data-theme='dark'] .heroBannerBg6 {
  /* 我心爱的人 */
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

}
