[submodule "DI"]
	path = DI
	url = git@github.com:forte-projects/forte-DI.git
[submodule "components/tencent-guild"]
	path = components/tencent-guild
	url = git@github.com:simple-robot/tencent-guild.git
