<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) 2021-2022 ForteScarlet <ForteScarlet@163.com>
  ~
  ~  本文件是 simply-robot (或称 simple-robot 3.x 、simbot 3.x ) 的一部分。
  ~
  ~  simply-robot 是自由软件：你可以再分发之和/或依照由自由软件基金会发布的 GNU 通用公共许可证修改之，无论是版本 3 许可证，还是（按你的决定）任何以后版都可以。
  ~
  ~  发布 simply-robot 是希望它能有用，但是并无保障;甚至连可销售和符合某个特定的目的都不保证。请参看 GNU 通用公共许可证，了解详情。
  ~
  ~  你应该随程序获得一份 GNU 通用公共许可证的复本。如果没有，请看:
  ~  https://www.gnu.org/licenses
  ~  https://www.gnu.org/licenses/gpl-3.0-standalone.html
  ~  https://www.gnu.org/licenses/lgpl-3.0-standalone.html
  ~
  ~
  -->

<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--status="WARN" :用于设置log4j2自身内部日志的信息输出级别，默认是OFF-->
<!--monitorInterval="30"  :间隔秒数,自动检测配置文件的变更和重新配置本身-->
<configuration status="INFO" monitorInterval="30">
    <!--appenders:定义输出内容,输出格式,输出方式,日志保存策略等,常用其下三种标签[console,File,RollingFile]-->

    <appenders>
        <!--console :控制台输出的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %highlight{%c{1.}.%M(%L)}: %msg%n" />
        </console>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <logger path="" />
        <!-- Root节点用来指定项目的根日志，如果没有单独指定Logger，那么就会默认使用该Root日志输出 -->
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>