.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.codeShowSvg {
  height: 25%;
  /*width: 100%;*/

}

[data-theme='light'] .featureSvg [fill='#000'] {
  fill: black;
}

[data-theme='dark'] .featureSvg [fill='#000'] {
  fill: white;
}

[data-theme='light'] .codeShowSvg [fill='#000'] {
  fill: black;
}

[data-theme='dark'] .codeShowSvg [fill='#000'] {
  fill: white;
}
