name: Publish Snapshot
on: # push
  push:
    branches:
      - v3-dev
      - v3-dev-snapshot**
      - v*.*.**
    paths:
      - '**src/**/kotlin/**.kt'
      - '**src/**/java/**.java'
      - 'buildSrc'

env:
  GPG_KEY_ID: ${{ secrets.SIGN_KEY_ID }}
  GPG_SECRET_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  GPG_PASSWORD: ${{ secrets.SIGN_PASS }}
  OSSRH_USER: ${{ secrets.OSS_USERNAME }}
  OSSRH_PASSWORD: ${{ secrets.OSS_PASSWORD }}
  SIMBOT_IS_SNAPSHOT: true
  SIMBOT_SNAPSHOT_ONLY: true
  GRADLE_OPTS: "-Xmx4G -Xms4G -XX:MaxMetaspaceSize=512m -Dfile.encoding=UTF-8"

jobs:
  publish-snapshot:
    name: Publish snapshot
    runs-on: ubuntu-latest
    steps:
      # 检出仓库代码
      - name: Check out repo
        uses: actions/checkout@v2

      # setup Java
      - name: Setup java 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      # setup Gradle
      - name: Gradle publish snapshot
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.5.1
          arguments: clean build test publishToSonatype closeAndReleaseStagingRepository -Porg.gradle.workers.max=16 -Porg.gradle.parallel=true




