name: Publish v4 Snapshot
on: # push
  workflow_dispatch:
  push:
    branches:
      - v4-dev
      - v4-dev-snapshot**
      - v4.*.**
    paths:
      - '**src/**/kotlin/**.kt'
      - '**src/**/java/**.java'
      - '**/**/src/**/kotlin/**.kt'
      - '**/**/src/**/java/**.java'
      - '**/build.gradle.kts'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'buildSrc'

env:
  IS_CI: true
  GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
  GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
  GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  SIMBOT_IS_SNAPSHOT: true
  SIMBOT_SNAPSHOT_ONLY: true
  GRADLE_OPTS: "-Dfile.encoding=UTF-8"

jobs:
  publish-snapshot:
    name: Publish snapshot
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      # 检出仓库代码
      - name: Check out repo
        uses: actions/checkout@v3

      # setup Java
      - name: Setup java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          cache: 'gradle'

      - name: Run All Tests
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5
          arguments: assemble allTests

      - name: Gradle publish snapshot
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5
          arguments: |
            publishToSonatype
            closeAndReleaseStagingRepository
            --info 
            --warning-mode all
            -x test
            --build-cache
            -Porg.gradle.jvmargs="-XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8" 
            -Porg.gradle.daemon=false


#  deploy-doc:
#    name: Deploy snapshots API doc
#    needs: publish-snapshot
#    runs-on: ubuntu-latest
#    steps:
#      # 检出仓库代码
#      - name: Check out repo
#        uses: actions/checkout@v3
#        with:
#          persist-credentials: false
#          fetch-depth: 0
#
#      # setup Java
#      - name: Setup java
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'zulu'
#          java-version: 11
#          cache: 'gradle'
#
#      # setup Gradle
#      - name: Gradle generate documentation
#        uses: gradle/gradle-build-action@v2
#        with:
#          gradle-version: 8.5
#          arguments: |
#            dokkaHtmlMultiModule
#            --info
#            --warning-mode all
#            -x test
#            --build-cache
#            -Porg.gradle.jvmargs="-XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8"
#            -Porg.gradle.daemon=false
#        env:
#          SIMBOT_IS_SNAPSHOT: true
#
#      # https://github.com/marketplace/actions/github-pages-action
#      - name: Push to doc repository
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          personal_token: ${{ secrets.PUSH_TOKEN }}
#          external_repository: simple-robot-library/simbot3-api-docs
#          publish_branch: kdoc-deploy/snapshots/main-v4
#          publish_dir: ./build/dokka/html
#          destination_dir: snapshots/main-v4
