name: Test V4 Branch
on:
  pull_request:
    branches:
      - 'v4-dev'

env:
  IS_CI: true
  GRADLE_OPTS: "-Dfile.encoding=UTF-8"

jobs:
  build-v4-test:
    name: Build and test
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
          cache: 'gradle'

      - name: Run V4 All Tests
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.5
          arguments: |
            assemble
            build
            allTests
            --info 
            --warning-mode all

